html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

/* Animations */

:root {
  --animation-slow-float: slow-float 11s ease-in-out infinite;
  --animation-slow-float-reverse: slow-float-reverse 14s ease-in-out infinite;
  --animation-twinkle: twinkle 1s linear infinite;
  --animation-spin-slow: spin-slow 20s linear infinite;
  --animation-mist-float: mist-float 20s ease-in-out infinite;
  --animation-shooting-star: shooting-star 2s ease-in-out;
}

body.scroll-locked {
  overflow: hidden !important;
}

@keyframes slow-float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes slow-float-reverse {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes mist-float {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shooting-star {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0) rotate(45deg) scale(0);
  }

  15% {
    opacity: 1;
  }

  80% {
    opacity: 1;
    transform: translateX(100vw) translateY(100vh) rotate(45deg) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(100vw) translateY(100vh) rotate(45deg) scale(0);
  }
}

::-moz-selection {
  color: #fff;
  background: #00D3F2;
}

::selection {
  color: #fff;
  background: #00D3F2;
}